body{
    margin: 100px 0 0 0;
}

.topbar{
    width: 100%;
    height: 100px;
    background-color: #ffdede;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.topbarimg{
    height: 100px;
    position: absolute;
    left: 20px;
    top: 0;
    
}

.topbara{
    font-size: 60px;
    position: absolute;
    left: 150px;
    top: 0;
    text-decoration: none;
    color: black;
}