.button{
    background-color: aquamarine;
    color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 2vb;
    text-decoration: none;
}
.button:hover{
    background-color: aqua;
    border-radius: 10vb;
    transition: 1s;
}/*dddd/